body {
    background: #cacaca;
    color: #181818;
    font-family: 'Segoe UI';
    text-align: center;
}

.imagem-logo {
    width: 100px;
}

.tabela-receitas {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.icone-suco {
    height: 20px;
}

