body {
    background: #cacaca;
    color: #181818;
    font-family: 'Segoe UI';

}

.imagem-logo {
    width: 100px;

}

.tabela-receitas {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.icone-suco {
    height: 20px;
}



footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 3px;
    margin-top: 50px;
}

footer a {
    color: pink;
}