{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
        <table border="1" class="tabela-receitas ">
            <tr>
                <th>Receitas</th>
                <th>Notas</th>
                <th>Videos</th>
                <th>Ações</th>
            </tr>
            {% for receita in lista_receitas %}
            <tr>
                <td>
                    {{receita.nome_receita}}>

                </td>
                <td>{{receita.nota}}</td>
                <td>{{receita.video}}</td>
                <td><a href="{% url 'sucodelaranja' %}" class="btn btn-info">Ver receita completa</a></td>
            </tr>
            {% endfor %}
            
        </table>
        
{% include 'partials/footer.html' %}
{% endblock %}