{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
        <table border="1" class="tabela-receitas ">
            <tr>
                <th>Receitas</th>
                <th>Videos</th>
                <th>Ações</th>
            </tr>
            {% for chave, uma_receita in lista_receitas.items %}
            <tr>
                <td>
                    <img src="{% static 'suco.png' %}" class="icone-suco">
                    
                    {{uma_receita}}>

                </td>
                <td><a href="https://www.youtube.com/watch?v=Nn9140bDPnc">Ver video</a></td>
                <td><a href="{% url 'sucodelaranja' %}">Ver receita completa</a></td>
            </tr>
            {% endfor %}
            
        </table>
        
{% include 'partials/footer.html' %}
{% endblock %}