<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalCheff</title>
</head>
<body>
    <h1>PersonalCheff</h1>
    <h2>Receita de suco de abacaxi</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Corte o talo do abacaxi</li>
        <li>Descasque o abacaxi</li>
        <li>Corte o abacaxi</li>
        <li>Jogue os pedaços de abacaxi no copo do liquidificador</li>
        <li>Adoce o suco a gosto (opcional)</li>
        <li>Adicione um pouco de gelo (opcional)</li>
        <li>Adicione água</li>
        <li>Bata o abacaxi</li>
        <li>Coe o suco (opcional)</li>
    </ul>
</body>
</html>