<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalCheff</title>
</head>
<body>
    <h1>PersonalCheff</h1>
    <h2>Receita de suco de manga</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Lave a manga</li>
        <li>Retire a casca da manga e corte em pedaços médios.</li>
        <li>Coloque em um liquidificador junto com a água e bata bem</li>
        <li>Coe e volte o suco para o liquidificador junto com o açúcar a gosto</li>
        <li>Bata mais 1 minuto e já está pronto</li>
    </ul>
    <p>
        <a href="{% url 'index' %}" class="Voltar">Voltar</a>
    </p>
</body>
</html>