{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
    <h1>PersonalCheff</h1>
    <h2>Receita de suco de manga</h2>
    <h3>Modo de preparo</h3>
    <ul>
        <li>Lave a manga</li>
        <li>Retire a casca da manga e corte em pedaços médios.</li>
        <li>Coloque em um liquidificador junto com a água e bata bem</li>
        <li>Coe e volte o suco para o liquidificador junto com o açúcar a gosto</li>
        <li>Bata mais 1 minuto e já está pronto</li>
    </ul>
    <p>
        <a href="{% url 'index' %}" class="Voltar">Voltar</a>
    </p>

{% include 'partials/footer.html' %}
{% endblock %}